<div class='navbar'>
  <div class='navbar__logo'>
    <h1>Burrito</h1>
  </div>
  <div class='navbar__links'>
    <%=link_to 'Dashboard', '/', class:'navbar__link'%>
  </div>
  <div class='navbar__links'>
    <%=link_to 'Edit', burritos_info_edit_path, class:'navbar__link'%>
  </div>
</div>