<div class='navbar'>
  <div class='navbar__logo'>
    <h1>Burrito</h1>
  </div>
  <div class='links'>
    <%=link_to 'Dashboard', root, class:'navbar__link'%>
    <%=link_to 'Edit', root, class:'navbar__link'%>
  </div>
</div>