/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .api{
   
    &__wrapper{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__platform{
        width: 20%;
        background:gray;
        color:black;
        border:1px solid black;
        box-sizing: border-box;
        margin-left:1%;
    }

    &__title{
        text-align: center;
    }
    
    &__info{
        font-weight: 900;   
        text-transform: capitalize;
        padding-left: 3%;
    }

    &__call{
        font-weight: 500;
    }
}